<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel = 'stylesheet' href = '/css/reset.css'>
    <link rel = 'stylesheet' href = '/css/normalize.css'>
    <link rel = 'stylesheet' href = '/css/style.css'>
    <link rel = 'stylesheet' href = '/css/add.css'>
    <title>Add Servant</title>
</head>
<body>
    <header class = 'flex column alignItems justifyContent'>
        <div class = 'banner'></div>

        <nav class = 'flex'>
            <li><a href = '/user'><h2 class = 'logo'>Fate Grand Order</h2></a></li>
    
                <ul class = 'flex row'>
                    <li><a href = '/user'>Home</a></li>
                    <li><a href = '/user/add'>Add Servant</a></li>
                    <li><a href = '/user/servants'>See Servant Data</a></li>
                    <li><a href = '/user/gameplay'>Gameplay</a></li>
                    <li><a href = '/user/simulator'>Simulator</a></li>
                    <li><a href = '/auth/logout'>Logout</a></li>

                </ul>
        </nav>
    </header>



<section class = 'flex justifyContent column alignItems'>
    <form action = '/user/servants' method = "POST" class = 'flex alignItems column'>
        <h1 class = 'flex justifyContent'>Choose Servant to Add</h1>

<div class = 'flex'>
        <% for(let i = 0; i< info1.length; i++) { %>
          
            <img src = '<%= info1[i].servant[0].image %>' class = 'select-<%=i %>'>
           
            <% } %>

          <input type="hidden" id = 'name'>
          <input type="hidden" id = 'rarity'>
          <input type="hidden" id = 'gender'>
          <input type="hidden" id = 'className'>

        </div>

        <button type = 'submit' class = 'button'>Submit</button>
    </form>

     
</section>


<footer class = 'flex column alignItems' id = 'footer'>
    <section class = 'flex icons'>
    <i class="fa-brands fa-facebook-f"></i>
    <i class="fa-brands fa-instagram"></i>
    <i class="fa-brands fa-twitter"></i>
    <i class="fa-brands fa-github"></i>
    <i class="fa-solid fa-envelope"></i>
    </section>
      <nav>
    
          <ul class = 'flex justifyContent'>

            <li><a href = '/user'>Home</a></li>
            <li><a href = '/user/add'>Add Servant</a></li>
            <li><a href = '/user/servants'>See Servant Data</a></li>
            <li><a href = '/user/gameplay'>Gameplay</a></li>
            <li><a href = '/user/simulator'>Simulator</a></li>
            <li><a href = '/auth/logout'>Logout</a></li>
            </ul>
     </nav>

     <small>FGO app &copy; choir Design: HTML5 UP</small>
    
  </footer>

  <script src="https://kit.fontawesome.com/d0e0071c1c.js" crossorigin="anonymous"></script>
</body>
</html>