<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel = 'stylesheet' href = '/css/reset.css'>
    <link rel = 'stylesheet' href = '/css/normalize.css'>
    <link rel = 'stylesheet' href = '/css/style.css'>
    <link rel = 'stylesheet' href = '/css/gameplay.css'>
    <title>Add Servant</title>
</head>
<body>
    <header class = 'flex column alignItems justifyContent header'>
        <div class = 'banner'></div>

        <nav class = 'flex'>
            <li><a href = '/user'><h2 class = 'logo'>Fate Grand Order</h2></a></li>
    
                <ul class = 'flex row'>
                    <li><a href = '/user'>Home</a></li>
                    <li><a href = '/user/add'>Add Servant</a></li>
                    <li><a href = '/user/servants'>See Servant Data</a></li>
                    <li><a href = '/user/gameplay'>Gameplay</a></li>
                    <li><a href = '/user/simulator'>Simulator</a></li>
                    <li><a href = '/auth/logout'>Logout</a></li>

                </ul>
        </nav>
    </header>

<section class = 'section flex column section'>
    <h1>Gameplay</h1>

    <div class = 'flex'>
        <div class="flex alignItems column">
    <h2>Animation Demonstration</h2>
    <a target = '_blank' href="https://www.youtube.com/watch?v=U8vhesJCdJ0&t=635s&ab_channel=xNaya"><img src="/gameplay/vid1.PNG" alt=""></a>
        </div>
        <div class="flex alignItems column">

    <h2>Minimum Turn Demonstration</h2>
    <a target = '_blank' href="https://www.youtube.com/watch?v=Ak6VDMKVhU4&ab_channel=xNaya"><img src="/gameplay/vid2.PNG" alt=""></a>
</div>

    </div>

    <div class="flex">
    <div class="flex alignItems column">
        <h2>Unique Game Mode Demonstration</h2>
    <a target = '_blank' href="https://www.youtube.com/watch?v=1uTFbvI_ccA&ab_channel=xNaya"><img src="/gameplay/vid3.PNG" alt=""></a>
    </div>

    <div class="flex alignItems column">
<a target = '_blank' href="https://docs.google.com/document/d/1YSnPg72Y5oxjtPM5k47kDNa13NCA_RfRg2r2NbxPoW8/edit">Document for new players</a> 
<a target = '_blank' href="https://docs.google.com/spreadsheets/d/1qvxLU407QwiFaCvItqR16SqqAVlLD5u5nBzY_bCFYvs/edit#gid=2111060397">Document for pervious and future game events</a>
</div>
</div>
 
</section>

<footer class = 'flex column alignItems' id = 'footer'>
    <section class = 'flex icons'>
    <i class="fa-brands fa-facebook-f"></i>
    <i class="fa-brands fa-instagram"></i>
    <i class="fa-brands fa-twitter"></i>
    <i class="fa-brands fa-github"></i>
    <i class="fa-solid fa-envelope"></i>
    </section>
      <nav>
    
          <ul class = 'flex justifyContent'>

            <li><a href = '/user'>Home</a></li>
            <li><a href = '/user/add'>Add Servant</a></li>
            <li><a href = '/user/servants'>See Servant Data</a></li>
            <li><a href = '/user/gameplay'>Gameplay</a></li>
            <li><a href = '/user/simulator'>Simulator</a></li>
            <li><a href = '/auth/logout'>Logout</a></li>
            </ul>
     </nav>

     <small>FGO app &copy; choir Design: HTML5 UP</small>
    
  </footer>

  <script src="https://kit.fontawesome.com/d0e0071c1c.js" crossorigin="anonymous"></script>
</body>
</html>