<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel = 'stylesheet' href = '/css/reset.css'>
    <link rel = 'stylesheet' href = '/css/normalize.css'>
    <link rel = 'stylesheet' href = '/css/style.css'>
    <link rel = 'stylesheet' href = '/css/simulator.css'>
    <title>Gameplay</title>
</head>
<body>
<!-- <a href = 'https://fgo-api.herokuapp.com/'>Make your team</a> -->
<header class = 'flex column alignItems justifyContent header'>
    <div class = 'banner'></div>

    <nav class = 'flex'>
        <li><a href = '/user'><h2 class = 'logo'>Fate Grand Order</h2></a></li>

            <ul class = 'flex row'>
                <li><a href = '/user'>Home</a></li>
                <li><a href = '/user/add'>Add Servant</a></li>
                <li><a href = '/user/servants'>See Servant Data</a></li>
                <li><a href = '/user/gameplay'>Gameplay</a></li>
                <li><a href = '/user/simulator'>Simulator</a></li>
                <li><a href = '/auth/logout'>Logout</a></li>

            </ul>
    </nav>
</header>

<section class = 'section'>
    <h1 class = 'flex justifyContent'>Simulator</h1>

<div class = 'flex'>

    <% for(let i =0; i < info.length; i++) { %>
        <% if(info[i].servant[0] && info[i].user._id==userID) { %>
            
            <form action = '/user/choose/servant/simulator?_method=PUT' method = 'POST'>
                <h2><%= info[i].name %></h2>


            <% let image = '' %>

            <% function one(){ %>
                <% if(info[i].level<=25){ %>
                <%  return image = info1[info[i].index].servant[0].image  %>
                <% }else if(info[i].level<=45){ %>
                <%  return image = info2[info[i].index].servant[0].image  %>
                <% }else if(info[i].level<=55){ %>
                <%   return image = info3[info[i].index].servant[0].image  %>
                <% }else if(info[i].level>=55 && info[i].level <= 120){ %>
                <%  return image = info4[info[i].index].servant[0].image  %>
                <% } %>
            <% } %>
            <% function two(){ %>
                <%     if(info[i].level<=20){ %>
                <%    return image = info1[info[i].index].servant[0].image  %>
                <%       }else if(info[i].level<=40){ %>
                <%  return image = info2[info[i].index].servant[0].image  %>
                <%       }else if(info[i].level<=50){ %>
                <%  return image = info3[info[i].index].servant[0].image  %>
                <%       }else if(info[i].level>=60 && info[i].level <= 120){ %>
                <%  returnimage =  info4[info[i].index].servant[0].image  %>
                <%       } %>
                <% } %>
    
                <% function three(){ %>
                <%     if(info[i].level<=25){ %>
                <%        return image = info1[info[i].index].servant[0].image  %>
                <%       }else if(info[i].level<=45){ %>
                <%      return image = info2[info[i].index].servant[0].image  %>
                <%       }else if(info[i].level<=55){ %>
                <%      return image = info3[info[i].index].servant[0].image  %>
                <%       }else if(info[i].level>=65 && info[i].level <= 120){ %>
                <%      return image = info4[info[i].index].servant[0].image  %>
                <%       } %>
                <% } %>
    
                <% function three(){ %>
                <%     if(info[i].level<=30){ %>
                <%        return image = info1[info[i].index].servant[0].image  %>
                <%       }else if(info[i].level<=50){ %>
                <%      return image = info2[info[i].index].servant[0].image  %>
                <%       }else if(info[i].level<=60){ %>
                <%      return image = info3[info[i].index].servant[0].image  %>
                <%       }else if(info[i].level>=70 && info[i].level <= 120){ %>
                <%      return image = info4[info[i].index].servant[0].image  %>
                <%       } %>
                <% } %>
    
                <% function four(){ %>
                <%     if(info[i].level<=40){ %>
                <%       return  image = info1[info[i].index].servant[0].image  %>
                <%       }else if(info[i].level<=60){ %>
                <%      return image = info2[info[i].index].servant[0].image  %>
                <%       }else if(info[i].level<=70){ %>
                <%      return image = info3[info[i].index].servant[0].image  %>
                <%       }else if(info[i].level>=80 && info[i].level <= 120){ %>
                <%      return image = info4[info[i].index].servant[0].image  %>
                <%       } %>
                <% } %>
    
                <% function five(){ %>
                <%     if(info[i].level<=50){ %>
                <%    image = info1[info[i].index].servant[0].image  %>
                <% return image %>
                <%       }else if(info[i].level<=70){ %>
                <%  image = info2[info[i].index].servant[0].image  %>
                <% return image %>
                <%       }else if(info[i].level<=80){ %>
                <%  image = info3[info[i].index].servant[0].image  %>
                <% return image %>
                <%       }else if(info[i].level>=90 && info[i].level <= 120){ %>
                <%  image = info4[info[i].index].servant[0].image  %>
                <% return image %>
                <%       } %>
                <% } %>
    
                <% if(info[i].rarity == '1'){ %>
                       <% one() %>
               <% }else if(info[i].rarity == '2'){ %>
                        <% two() %>
                <% }else if(info[i].rarity == '3'){ %>
                        <% three() %>
                <% }else if(info[i].rarity == '4'){ %>
                      <% four() %>
                <% }else if(info[i].rarity == '5'){ %>
                        <% five() %>
                <% } %>
    
                <img src = '<%= image %>'>
                <input type="text" name="servantIndex" class = 'hidden' value = '<%= info[i].index %>'>
                            <button class = 'button' type = 'submit'>Choose</button>
        </form>
    <% } %>
    <% } %>
</div>


<section>
    <% if(choose[0].servantIndex != '-1') { %>
        <% let data; %>
        <% for(let i =0; i < info.length; i++) { %>
        
            <% if( info1[choose[0].servantIndex].servant[0].name == info[i].name && info1[choose[0].servantIndex].servant[0].className == info[i].className) { %>    

                <% data = info[i] %>
                <% break; %>
                

            <% } %>
        
        <% } %>





    <% let image = '' %>

    <% function one(){ %>
        <% if(data.level<=25){ %>
        <%  return image = info1[data.index].servant[0].image  %>
        <% }else if(data.level<=45){ %>
        <%  return image = info2[data.index].servant[0].image  %>
        <% }else if(data.level<=55){ %>
        <%   return image = info3[data.index].servant[0].image  %>
        <% }else if(data.level>=55 && data.level <= 120){ %>
        <%  return image = info4[data.index].servant[0].image  %>
        <% } %>
    <% } %>
    <% function two(){ %>
        <%     if(data.level<=20){ %>
        <%    return image = info1[data.index].servant[0].image  %>
        <%       }else if(data.level<=40){ %>
        <%  return image = info2[data.index].servant[0].image  %>
        <%       }else if(data.level<=50){ %>
        <%  return image = info3[data.index].servant[0].image  %>
        <%       }else if(data.level>=60 && data.level <= 120){ %>
        <%  returnimage =  info4[data.index].servant[0].image  %>
        <%       } %>
        <% } %>

        <% function three(){ %>
        <%     if(data.level<=25){ %>
        <%        return image = info1[data.index].servant[0].image  %>
        <%       }else if(data.level<=45){ %>
        <%      return image = info2[data.index].servant[0].image  %>
        <%       }else if(data.level<=55){ %>
        <%      return image = info3[data.index].servant[0].image  %>
        <%       }else if(data.level>=65 && data.level <= 120){ %>
        <%      return image = info4[data.index].servant[0].image  %>
        <%       } %>
        <% } %>

        <% function three(){ %>
        <%     if(data.level<=30){ %>
        <%        return image = info1[data.index].servant[0].image  %>
        <%       }else if(data.level<=50){ %>
        <%      return image = info2[data.index].servant[0].image  %>
        <%       }else if(data.level<=60){ %>
        <%      return image = info3[data.index].servant[0].image  %>
        <%       }else if(data.level>=70 && data.level <= 120){ %>
        <%      return image = info4[data.index].servant[0].image  %>
        <%       } %>
        <% } %>

        <% function four(){ %>
        <%     if(data.level<=40){ %>
        <%       return  image = info1[data.index].servant[0].image  %>
        <%       }else if(data.level<=60){ %>
        <%      return image = info2[data.index].servant[0].image  %>
        <%       }else if(data.level<=70){ %>
        <%      return image = info3[data.index].servant[0].image  %>
        <%       }else if(data.level>=80 && data.level <= 120){ %>
        <%      return image = info4[data.index].servant[0].image  %>
        <%       } %>
        <% } %>

        <% function five(){ %>
        <%     if(data.level<=50){ %>
        <%    image = info1[data.index].servant[0].image  %>
        <% return image %>
        <%       }else if(data.level<=70){ %>
        <%  image = info2[data.index].servant[0].image  %>
        <% return image %>
        <%       }else if(data.level<=80){ %>
        <%  image = info3[data.index].servant[0].image  %>
        <% return image %>
        <%       }else if(data.level>=90 && data.level <= 120){ %>
        <%  image = info4[data.index].servant[0].image  %>
        <% return image %>
        <%       } %>
        <% } %>

        <% if(data.rarity == '1'){ %>
               <% one() %>
       <% }else if(data.rarity == '2' || data.rarity == '0'){ %>
                <% two() %>
        <% }else if(data.rarity == '3'){ %>
                <% three() %>
        <% }else if(data.rarity == '4'){ %>
              <% four() %>
        <% }else if(data.rarity == '5'){ %>
                <% five() %>
        <% } %>


            <img src="<%= image %>" alt="" srcset="">

        
    <% } %>
</section>

</section>



<footer class = 'flex column alignItems' id = 'footer'>
    <section class = 'flex icons'>
    <i class="fa-brands fa-facebook-f"></i>
    <i class="fa-brands fa-instagram"></i>
    <i class="fa-brands fa-twitter"></i>
    <i class="fa-brands fa-github"></i>
    <i class="fa-solid fa-envelope"></i>
    </section>
      <nav>
    
          <ul class = 'flex justifyContent'>

            <li><a href = '/user'>Home</a></li>
            <li><a href = '/user/add'>Add Servant</a></li>
            <li><a href = '/user/servants'>See Servant Data</a></li>
            <li><a href = '/user/gameplay'>Gameplay</a></li>
            <li><a href = '/user/simulator'>Simulator</a></li>
            <li><a href = '/auth/logout'>Logout</a></li>
            </ul>
     </nav>

     <small>FGO app &copy; choir Design: HTML5 UP</small>
    
  </footer>

  <script src="https://kit.fontawesome.com/d0e0071c1c.js" crossorigin="anonymous"></script>
</body>
</html>