<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel = 'stylesheet' href = '/css/reset.css'>
    <link rel = 'stylesheet' href = '/css/normalize.css'>
    <link rel = 'stylesheet' href = '/css/style.css'>
    <link rel = 'stylesheet' href = '/css/add.css'>
    <title>Document</title>
</head>
<body>
    <header class = 'flex column alignItems'>
        <div class = 'banner'></div>
<nav class = 'flex'>
        <li><h2 class = 'logo'>Fate Grand Order</h2></li>s

            <ul class = 'flex row'>
                <li><a href = '/' class = 'data'>Home</a></li>
                <li><a href = '/add' class = 'data'>Add Servant</a></li>
                <li><a href = '/servants' class = 'data'>See Servant Data</a></li>
                <li><a href = '/comments' class = 'data'>Comments</a></li>
                <li><a href = '/simulator' class = 'data'>Simulator</a></li>
            </ul>
</nav>

<section class = 'column alignItems flex'>
<h1>Add Servant Data</h1>
<span>Enter in information regarding Fate Grand Servants below and submit the data once everything is filled out.</span>

<span>Use the link <code><pre>https://fgo-app.herokuapp.com/api/servants</pre></code> to access the added servant data API</span>

<img src = '' alt = ''>
</section>

</header>


<form action = '/servants' method = "POST" class = 'flex servants'>
     <div class = 'grid'>
    <h2>Image:</h2> <input required="required" type = 'file' id = 'image' name = 'image'>
    <h2>First Name: </h2><input required="required" type = 'text' id = 'firstName' name = 'firstName'>
    <h2>Last Name: </h2><input required="required" type = 'text' id = 'lastName' name = 'lastName'>

     </div>
     <div class = 'grid'>
        <h2>Gender:</h2> <input required='required' type = 'text' name = 'gender'>
        <h2>ID:</h2> <input required='required' type = 'text' name = 'servantID'>
        <h2>Class:</h2> <input required='required' required="required" type = 'text' id = 'class' name = 'servantClass'>
    </div>
    <div class = 'grid'>
   <h2>Max Attack:</h2> <input required='required' class = 'stats' type = 'text' name = 'attack'>
   <h2>Rarity:</h2> <input required='required' type = 'text' name = 'rarity'>
   <h2>Cost: </h2> <input required='required' class = 'stats' type = 'text' name ='cost'>

    </div>


<div class = 'grid'>
    <h2>Max Health:</h2> <input class = 'stats' type = 'text' name = 'health'>
    <button type = 'submit' id ='submit' class = 'button'>Submit</button>
</div>

</form>


<footer class = 'flexbox' id = 'footer'>
    <small class = 'flexbox justifyContent alignItems'>Illya Fansite &copy; choir</small>
      <nav class= "flexbox">
          <ul class = 'flexbox'>
            <li><a href = '/' class = 'data'>Home</a></li>
            <li><a href = '/add' class = 'data'>Add Servant</a></li>
            <li><a href = '/servants' class = 'data'>See Servant Data</a></li>
            <li><a href = '/comments' class = 'data'>Comments</a></li>
            <li><a href = '/simulator' class = 'data'>Simulator</a></li>
  </ul>
  </nav>
  </footer>
  
    <script src = '/js/main.js'></script>
</body>
</html>