<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel = 'stylesheet' href = '/css/reset.css'>
    <link rel = 'stylesheet' href = '/css/normalize.css'>
    <link rel = 'stylesheet' href = '/css/style.css'>
    <link rel = 'stylesheet' href = '/css/gameplay.css'>
    <title>Gameplay</title>
</head>
<body>
    <header class = 'flex column alignItems justifyContent'>
        <div class = 'banner'></div>

        <nav class = 'flex'>
            <li><h2 class = 'logo'>Fate Grand Order</h2></li>s
    
                <ul class = 'flex row'>
                    <li><a href = '/'>Home</a></li>
                    <li><a href = '/add'>Add Servant</a></li>
                    <li><a href = '/servants'>See Servant Data</a></li>
                    <li><a href = '/gameplay'>Gameplay</a></li>
                    <li><a href = '/simulator'>Simulator</a></li>
                </ul>
        </nav>
    </header>

<section>
</section>

<footer class = 'flex column alignItems' id = 'footer'>
    <section class = 'flex icons'>
    <i class="fa-brands fa-facebook-f"></i>
    <i class="fa-brands fa-instagram"></i>
    <i class="fa-brands fa-twitter"></i>
    <i class="fa-brands fa-github"></i>
    <i class="fa-solid fa-envelope"></i>
    </section>
      <nav>
    
          <ul class = 'flex justifyContent'>

        <li><a href = '/' class = 'data'>Home</a></li>
        <li><a href = '/add' class = 'data'>Add Servant</a></li>
        <li><a href = '/servants' class = 'data'>See Servant Data</a></li>
        <li><a href = '/comments' class = 'data'>Comments</a></li>
        <li><a href = '/simulator' class = 'data'>Simulator</a></li>
            </ul>
     </nav>

     <small>FGO app &copy; choir Design: HTML5 UP</small>
    
  </footer>

  <script src="https://kit.fontawesome.com/d0e0071c1c.js" crossorigin="anonymous"></script>
  <script src = '/js/home.js'></script>
</body>
</html>