<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel = 'stylesheet' href = '/css/reset.css'>
    <link rel = 'stylesheet' href = '/css/normalize.css'>
    <link rel = 'stylesheet' href = '/css/style.css'>
    <link rel = 'stylesheet' href = '/css/home.css'>
    <title>Home</title>
</head>
<body>
    <header class = 'flex column alignItems justifyContent'>
        <div class = 'banner'></div>

<nav class = 'flex'>
        <li><h2 clwass = 'logo'>Fate Grand Order</h2></li>

            <ul class = 'flex row'>
                <li><a href = '/' class = 'data'>Home</a></li>
                <li><a href = '/add' class = 'data'>Add Servant</a></li>
                <li><a href = '/servants' class = 'data'>See Servant Data</a></li>
                <li><a href = '/comments' class = 'data'>Comments</a></li>
                <li><a href = '/simulator' class = 'data'>Simulator</a></li>
            </ul>
</nav>

<section class = 'flex justifyContent'>
    <div class = 'flex alignItems'>
        <div class = 'flex column content'>
            <h1>What is Fate Grand Order?</h1>
            <blockquote cite="https://typemoon.fandom.com/wiki/Fate/Grand_Order">
         <span>Fate/Grand Order is a mobile role playing game with turn-based combat, filled with strong storytelling and gacha elements using in-game currency and/or microtransactions.  With more than 300 characters to choose from, each servant has a distinct art style, combat style, and costume choices in the form of different ascensions as well as limited cotumes for particular characters.</span>
            </blockquote>
        </div>
<img src = '/add/icon.png' alt = 'fgo mash kyrielight icon waltz in the moonlight lostroom'>
    </div>
</section>

<i class="fa-solid fa-angle-down arrow-down"><a href = '#one'></a></i>
</header>

<section id = 'one'>
</section>
       
        <section id = 'section1' class = 'flex column alignItems'>
            <div class = 'banner'></div>
            <a class = 'flex alignItems' href= '/servants'>
                <div class = 'flex column content'>
                <h2>Add Servants</h2>
                <span>Create a page for a servant by submitting their information.</span>
                </div>
            <img src = '/home/add.PNG' alt = 'screenshot preview of the add servant page'>
            <p>Servants are heroes and villains summoned from various time periods by the Holy Grail to participate in the Holy Grail War.  Possessing amazing magical, physical and intellectual abilities, these servants are separated into different categories known as servant classes that define their main abilities.</p>
        </a>
        <i class="fa-solid fa-angle-down arrow-down1"><a href = '#two'></a></i>
        </section>

<div class = 'box flex two'>
    <div class = 'container flex justifyContent'>
    <i class="fa-solid fa-angle-down arrow-down2"><a href = '#three'></a></i>
    </div>
        <section id = 'two' class = 'flex alignItems column'>
            <div class = 'banner'></div>
            <a href = '/servants' class = 'flex column'>
            <h2> Preview Added Servants </h2>
            <span>View all the new pages that were created for each servant added.</span>
            <img src = '/home/preview.PNG' alt = 'screenshot preview of the servant page'>
            <p><!----></p>
            </a>
        </section>
</div>

<div class = 'flex three'>
<section id = 'three' class = 'flex alignItems column'>
    <div class = 'banner'></div>
    <a href = '/comments' class = 'flex column'>
    <h2> Comments for Servants </h2>
    <span>Add comments to each page, add likes to those comments, and delete them!</span>
    <img src = '/home/comments.PNG' alt = 'screenshot preview of the servant comments page'>
    <p><!----></p>
    </a>
</section>
<div class = 'container flex justifyContent'>
    <i class="fa-solid fa-angle-down arrow-down3"><a href = '#four'></a></i>
</div>
</div>

<div class = 'four flex box'>
    <div class = 'container flex justifyContent'>
        <i class="fa-solid fa-angle-down arrow-down4"><a href = '#footer'></a></i>
    </div>
    <section id = 'four' class = 'flex alignItems column'>
        <div class = 'banner'></div>
        <a href = '/simulator' class = 'flex column'>
        <h2> Servant Simulator </h2>
        <span>See what it's like to fight with your added servant in this simulation!</span>
        <img src = '/home/simulator.PNG' alt = 'screenshot preview of the simulator page'>
        <p><!----></p>
        </a>
    </section>
 </div>


 

    <footer class = 'flex column alignItems' id = 'footer'>
        <section class = 'flex icons'>
        <i class="fa-brands fa-facebook-f"></i>
        <i class="fa-brands fa-instagram"></i>
        <i class="fa-brands fa-twitter"></i>
        <i class="fa-brands fa-github"></i>
        <i class="fa-solid fa-envelope"></i>
        </section>
          <nav>
        
              <ul class = 'flex justifyContent'>

            <li><a href = '/' class = 'data'>Home</a></li>
            <li><a href = '/add' class = 'data'>Add Servant</a></li>
            <li><a href = '/servants' class = 'data'>See Servant Data</a></li>
            <li><a href = '/comments' class = 'data'>Comments</a></li>
            <li><a href = '/simulator' class = 'data'>Simulator</a></li>
                </ul>
         </nav>

         <small>FGO app &copy; choir Design: HTML5 UP</small>
        
      </footer>

      <script src="https://kit.fontawesome.com/d0e0071c1c.js" crossorigin="anonymous"></script>
      <script src = '/js/home.js'></script>
</body>
</html>