<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/reset.css">
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel = 'stylesheet' href = '/css/home.css'>
    <title>FGO</title>
</head>
<body>
    <header class = 'flex column flexHCenter flexVCenter'>
<h1>Fate Grand Order</h1>
<nav>
    <ul class = 'flex'>
        <li><a href = '/data' class = 'data'>See Servant Data</a></li>
        <li><a href = '/data/comments' class = 'data'>Comments</a></li>
        <li><a href = '/fate' class = 'data'>Simulator</a></li>
        <li><a href = '/servants' class = 'data'>Add Servant</a></li>
        <li><a href = '/' class = 'data'>Home</a></li>
    </ul>
</nav>
    </header>

    <main>

        <section class = 'flex justifyContent'>
            <img src = '/home/preview.PNG'>
        </section>
        <section class = 'flex justifyContent'>
            <img src = '/home/simulator.PNG'>
        </section>
    </main>

    <script src = '/js/home.js'></script>
</body>
</html>