<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel = 'stylesheet' href = '/css/reset.css'>
    <link rel = 'stylesheet' href = '/css/normalize.css'>
    <link rel = 'stylesheet' href = '/css/style.css'>
    <link rel = 'stylesheet' href = '/css/home.css'>
    <title>Document</title>
</head>
<body>
    <header class = 'flex column alignItems'>
        <div class = 'banner'></div>

<nav class = 'flex'>
        <li><h2 class = 'logo'>Fate Grand Order</h2></li>s

            <ul class = 'flex row'>
                <li><a href = '/' class = 'data'>Home</a></li>
                <li><a href = '/add' class = 'data'>Add Servant</a></li>
                <li><a href = '/servants' class = 'data'>See Servant Data</a></li>
                <li><a href = '/comments' class = 'data'>Comments</a></li>
                <li><a href = '/simulator' class = 'data'>Simulator</a></li>
            </ul>
</nav>

<section class = 'flex justifyContent'>
    <div class = 'flex alignItems'>
        <div class = 'flex column content'>
            <h1>What is Fate Grand Order?</h1>
            <blockquote cite="https://typemoon.fandom.com/wiki/Fate/Grand_Order">
         <span>Fate/Grand Order is a mobile “gacha” RPG game that is a turn-based RPG with strong storytelling and “gacha” elements—the 300+ characters usable in combat being drawn from a weighted lottery with in-game currency and microtransactions.</span>
            </blockquote>
        </div>
<img src = '/add/icon.png' alt = 'fgo mash kyrielight icon waltz in the moonlight lostroom'>
    </div>
</section>

<i class="fa-solid fa-angle-down" id = 'arrow-down'><a href = '#one'></a></i>
</header>

<section id = 'one'>
</section>


<div class = 'padding flex alignItems column'>
       



    <main class = 'flex alignItems column'>
        <section class = 'flex alignItems column section1'>
            <a class = 'flex column alignItems'href= '/servants'>
                <h2> Add Servants </h2>
            <img src = '' class = 'row0'></a>
        </section>
        <section class = 'flex alignItems column section2'>
            <a class = 'flex column alignItems'href = '/data'>
            <h2> Preview Added Servants </h2>
            <img src = '' class = 'row1'>
            </a>
        </section>
        <section class = 'flex alignItems column section3'>
            <a class = 'flex column alignItems'href = '/comments'>
            <h2> Comments about Added Servants </h2>
            <img src = '' class = 'row2'>
            </a>
        </section>
        <section class = 'flex alignItems column section4'>
            <a class = 'flex column alignItems'href = '/fate'>
            <h2> Servant Simulator </h2>
            <img src = '' class = 'row3'>
            </a>
        </section>

    </div>
    </main>



    <footer class = 'flex' id = 'footer'>
          <nav class= "flex">
            <small class = 'flex justifyContent alignItems'>FGO app &copy; choir</small>
              <ul class = 'flex'>

                <li><a href = '/' class = 'data'>Home</a></li>
            <li><a href = '/add' class = 'data'>Add Servant</a></li>
            <li><a href = '/servants' class = 'data'>See Servant Data</a></li>
            <li><a href = '/comments' class = 'data'>Comments</a></li>
            <li><a href = '/simulator' class = 'data'>Simulator</a></li>
      </ul>
      </nav>
      </footer>

      <script src="https://kit.fontawesome.com/d0e0071c1c.js" crossorigin="anonymous"></script>
      <script src = '/js/home.js'></script>
</body>
</html>