<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel = 'stylesheet' href = '/css/servants.css'>
</head>
<body>
    <header class = 'flex'>
    <h1>Fate Grand Order Servants</h1>
    <nav>
        <ul class = 'flexbox'>
            <li><a href = '/' class = 'data'>Home</a></li>
            <li><a href = '/add' class = 'data'>Add Servant</a></li>
            <li><a href = '/servants' class = 'data'>See Servant Data</a></li>
            <li><a href = '/comments' class = 'data'>Comments</a></li>
            <li><a href = '/simulator' class = 'data'>Simulator</a></li>
        </ul>
    </nav>
    </header>   
    <% for(let i =0; i < info.length; i++) { %>
    <a href = '/home/<%= info[i].firstName.toLowerCase() %>'> <%= info[i].firstName %> </a>

    <% } %>

    
    <footer class = 'flexbox' id = 'footer'>
        <small class = 'flexbox justifyContent alignItems'>Illya Fansite &copy; choir</small>
          <nav class= "flexbox">
              <ul class = 'flexbox'>
                <li><a href = '/' class = 'data'>Home</a></li>
            <li><a href = '/add' class = 'data'>Add Servant</a></li>
            <li><a href = '/servants' class = 'data'>See Servant Data</a></li>
            <li><a href = '/comments' class = 'data'>Comments</a></li>
            <li><a href = '/simulator' class = 'data'>Simulator</a></li>
      </ul>
      </nav>
      </footer>

    <script src = '/js/servants.js'></script>

</body>
</html>