
a{
    color: white;
}

option{
    background: rgba(39, 40, 51, 0.965);
}

option,select{
    width: 100%;
    padding: 1rem;

}


input{
    width: 100%;
}

input, select{
    background: transparent;
    margin: 2rem 2rem 4rem 2rem;
}

input, select, option{
    cursor: pointer;
    border-radius: 4px;
    border: solid 1px rgba(255, 255, 255, 0.3);
}

form div{
    /* width: 60%; */
    padding: 2rem;
}

.data{
    border-bottom: 3px solid #e44c65;
    padding-bottom: 3rem;
}

span, code{
    padding-bottom: 1rem;
}

form{
    width:80%;
    padding: 8rem 3rem;
}

.image{
    width: 94%;
}

h2{
    text-align: center;
}

.servants{
    width: 80%;
    flex-wrap: wrap;
    height: 70rem;
    overflow: scroll;
    margin-bottom: 4rem;    
}



.status{
width: 80%;
}

.status option{
    text-align: center;

}

.servants img{
    border-radius: 5px;
    margin: 2rem;
    width: 15%;
    border: 3px solid rgba(39, 40, 51, 0.965);
}

#skill1, #skill2, #skill3, #appendSkill1, #appendSkill2, #appendSkill3{
    border-radius: 0;
    border: none;
    width: 60%;
}

div img:hover{
    cursor: pointer;
    opacity: 80%;
}

#image{
max-width: 40%;
content: '';
width: 40%;
}


article{
    min-width: 60%;
    margin-bottom: 6rem;
}


.servant{
    border-bottom: 3px solid #e44c65;
    width: 100%;
    margin-bottom: 2rem;
}


h2{
 margin-right: 2rem;   
}

#servantName, #servantRarity, #servantClass{
    margin-right: 5rem;
}


#level{
    width: 8rem;
}

/* body *{
    border: 3px solid white;
} */