img{
    width: 100%;
}

section div{
    margin: 2rem;
    width: 45%;
}

.section .prompt{
    width: 100%;
}

.enemy{
 align-items: flex-end;
}

.enemy img{
    width: 40%;
}

.enemy{
    justify-content: flex-end;
}

.battle{
   justify-content: space-between;
}

.button, img {
    border: none;
    padding: 0rem;
    margin: 0rem;
}

.skills{
    justify-content: space-around;
    width: 100%;
}

.skill1{
    align-items: flex-end;
}

.help1{
    width: 80%;
    margin: 0rem;
    padding: .2rem;
}

.skills i{
    height: .5rem;
}

meter{
height: 4vh;
width: 14vw;  
}


#np::-webkit-meter-optimum-value{
    background: blue
}
    
/* body *{
    border: 3px solid white;
} */

