/* Gameplay Layout
   ========================================================================== */
   img{
      width: 100%;
   }

   section h2{
      text-align: center;
      margin-bottom: 2rem;
   }

   section div{
      justify-content: space-around;
   }

   section div div{
      width: 30%;
   }
 