/* Header Layout
   ========================================================================== */

header, #section1, #two, #three, #four{
    margin: 0rem;
    z-index: 1;
    top: 0;
    left: 0;
    transition: 0.5s;
    background: rgb(0,0,0,.6);
}

img, a, li, p, span, pre, input, button, h1, h2, h3, small, i{
    transition: 0.3s;
    display: block;
}

header section img{
    border-radius: 50%;
    height: 26rem;
}

header section div{
    width: 80%;
}

header section .content{
    width: 100%;
    align-items: flex-start;
}

header .content span{
    width: 80%;
    padding-bottom: 2rem;
}

header section{
    padding: 6rem;
    padding-top: 8rem;
    width: 70%;
}

header section span, .banner::after, code, .box, #two img, #three img, #four img{
    width: 100%;
}

header span{
    width: 30%;
}

/* Header Other Styles
   ========================================================================== */

body{
    background-image: url('/css/image/background3.jpg');
    background-repeat: none;
    background-position: center;
    background-size: cover;
}


/* Section 1
   ========================================================================== */

#one{
height: 40vh;
}

#section1 img{
    width: 30%;
}

#section1{
    padding-top: 2rem;
    overflow: hidden;
    height: 50vh;
}

#section1 a, #two a, #three a, #four a{
    justify-content: space-around;
    height: 100%;
}

#section1 p{
    width: 30%;
}

#section1 .content{
    width: 30%;
}

#section1 .content h2, #section1 .content span{
  padding: 2rem;
}

/* Section 2-4
   ========================================================================== */

#two, #three, #four{
    width: 30%;
    height:100vh;
}

#two a, #three a, #four a{
    padding: 5rem;
}


.box{
    justify-content: flex-end;
}

.container{
    align-items: flex-end;
}

.container i{
color: black;
}

.container{
    width: 80%;
}

.two{
    background-image: url('/css/image/background5.jpg');
}

.three{
    justify-content: flex-end;
    background-image: url('/css/image/background1.png');
}

.four{
    background-image: url('/css/image/background2.jpg');
}

.three, .two, .four{
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

/* Authed Users Only
   ========================================================================== */

   .section img{
    border-radius: 0px;
   }

   .section{
    padding: 4rem;
   }

   .section div{
    width: 100%;
    margin-bottom: 3rem;
    padding: 2rem;
    margin-right: 3rem;
   }
 
   .section div h4,.section div h2,.section div h3{
    margin: 2rem 0rem;
   }

   .section h1 + h2{
    margin-bottom: 8rem;
   }

   .section .edit-delete{
    width: 5%;
   }

   #skills{
    position: relative;
   }

   #skills div{
    width: 50%;
    padding: 0rem;
    margin: 0rem;
    border: 0rem;
   }

   #skills{
    width: 40%;
   }

   /* body *{
    border: 3px solid white;
   } */



   .skills img{
    height: 8rem;

   }

   .skills div{
    justify-content: flex-start;
    align-items: flex-start;
    position: relative;
   }

   .skills div h2{
    color: rgb(255, 255, 255);
    margin: 0rem;
    padding:.5rem;
    background: rgba(39, 40, 51, 0.965);
    border-radius: 5px;
    font-size: 2rem;
    font-weight: bold;
    position: absolute;
   }

   #skills .skills,#skills .skills .image, #skills .skills .image div{
    width: 100%;
   }

   .skills img{
    padding: 1rem;
   }

   .skills h2{
    text-align: center;
   }

   .section .name{
    padding: 0rem;
    margin: 0rem;
   }
   

   .buttons{
    margin: 2rem;
   }

   .buttons button{
    margin: 1rem;
   }

   .name h2{
    width:80%;
   }