/* Servant
   ========================================================================== */

   a{
    color: white;
}


img{
border-radius: 5px;
width: 25%;
}


div, section a{
    width: 100%;
}

section a{
    border-bottom: 2px solid rgba(255, 255, 255, 0.3);
    padding: 5rem 0rem;
    justify-content: space-around;
}

section div a div{
    width: 50%;
}

a:hover, .servant-row h2:hover{
 color:  #e44c65

}

h2{
    margin-right: 2rem;
}

h1{
    width: 50%;
    padding-bottom: 4rem;
    border-bottom: 4px solid #e44c65;
}

.servant h3{
    margin: 1rem 0rem;
}


.edit-delete{
    padding: .5rem;
    border-bottom: 2px solid rgba(255, 255, 255, 0.3);
    align-items: flex-start;
}

.edit-delete, .edit-delete a, .edit-delete i{
    width: 5%;
   }

.edit{
        width: 5rem;
        align-items: flex-start;
        justify-content: flex-start;
}


.skills img{
    height: 8rem;

   }

   .skills div{
    justify-content: flex-start;
    align-items: flex-start;
    position: relative;
   }

   .skills div h2{
    color: black;
    margin: 0rem;
    padding:.2rem;
    background-color: aliceblue;
    font-size: 2rem;
    font-weight: bold;
    position: absolute;
   }

   #skills .skills,#skills .skills .image, #skills .skills .image div{
    width: 100%;
   }

   .skills img{
    width: 100%;
    padding: 1rem;
   }

   .skills h2{
    text-align: center;
   }

   .section .name{
    padding: 0rem;
    margin: 0rem;
   }

   div div a{
    border-bottom: 0rem;
   }

    .skill-alt{
    border-bottom: 2px solid rgba(255, 255, 255, 0.3);
   }

   .skill-alt a{
    margin: 0rem;
    padding: 0rem;
   }

   .skill-alt h2{
    padding-top: 2.5rem;
   }
/* 
   body *{
    border: 3px solid white;
   } */