/* Servant
   ========================================================================== */

   a{
    color: white;
}


img{
border-radius: 5px;
width: 20%;
}


div, section a{
    width: 100%;
}

section a{
    border-bottom: 2px solid rgba(255, 255, 255, 0.3);
    padding: 5rem 0rem;
    justify-content: space-around;
}

section div a div{
    width: 50%;
}

a:hover, .servant-row h2:hover{
 color:  #e44c65

}

h2{
    margin-right: 2rem;
}

h1{
    width: 50%;
    padding-bottom: 4rem;
    border-bottom: 4px solid #e44c65;
}

.servant h3{
    margin: 1rem 0rem;
}


.edit-delete{
    padding: .5rem;
    border-bottom: 2px solid rgba(255, 255, 255, 0.3);
    align-items: flex-start;
}

.edit-delete, .edit-delete a, .edit-delete i{
    width: 5%;
   }

.edit{
        width: 5rem;
        align-items: flex-start;
        justify-content: flex-start;
}