.team1{
    overflow-y: scroll;
    flex-wrap: wrap;
    height: 40rem;
    padding: 2rem;
}

.team1 img{
    width: 15%;
    margin: 2rem;
}


/* section img{
    width: 50%;
}

section h2{
    margin-bottom: 2rem;
}

section button{
    margin-top: 2rem;
}

#player1{
    width: 30%;
}

#simulator{
    margin: 4rem;
}

#skills img{
    width: 100%;
}

#health{
    color: green;
}

#health::-webkit-meter-optimum-value{
    background: linear-gradient(to right, #114DA3, #0389FF, #2AACF8, #1E9BFC,#53D0F5, #79EAF3);
}

#np::-webkit-meter-optimum-value{
    background: linear-gradient(to right,#6F3706, #6E553D, #974907, #A14D06, #BB5802, #A04E03, #B95902)
}

#np::-webkit-meter-bar, #health::-webkit-meter-bar{
    background: black;
    border: 3px solid #4D493C;
}

meter{
    height: 4vh;
    width: 14vw;    
}

.button{
    padding: 0rem;
    margin: 0rem;
    overflow: hidden;
    border: none;
    background: none;
    box-shadow: none;
    border-radius: none;
} */