/* Layout
   ========================================================================== */

.row{
    flex-direction: row;
}

.column{
    flex-direction: column;
}

.flex{
    display: flex;
}

.alignItems{
    align-items: center;
}

.justifyContent{
    justify-content: center;
}

nav h2, nav ul{
    padding: 1rem 2rem;
}

nav{
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
}

.hidden{
    display: none;
}

/*Font
   ========================================================================== */

a, li, p, span, pre, input, button, h1, h2, h3, small, i, label, h4{
    color: white;
}


html{
    font-size: 62.5%;
}

body{
    font-family: 'Source Sans Pro', Arial, sans-serif;
}

a{
    text-decoration: none;
}


li{
    padding: 1rem;
    list-style-type: none;
}

a, li, p, span, pre, input, button, small, i, label, h4{
    font-size: 2rem;
    line-height: 3.5rem;
}

i{
    padding-bottom: 3rem;
    font-size: 4rem;
}

i:hover{
    cursor: pointer;
}


.logo{
    font-size: 2rem;
}

h1{
    width: 100%;
    font-size: 5rem;
}

h2{
    font-size: 4rem;
}

h3{
    font-size: 3rem;
}


small{
    font-size: 1rem;
}

/*Buttons and Links
   ========================================================================== */



a:hover, button:hover, i:hover{
cursor: pointer;
color: #e44c65;
}

.button{
    padding: 1rem 2rem;
    border: 0;
    background: transparent;
    box-shadow: inset 0 0 0 1px rgb(255 255 255 / 30%);
    border-radius: 5px;
}

.button:hover{
    cursor: pointer;
color: #e44c65;
border: 1px solid #e44c65;
}

.button:active{
    background-color: rgb(240, 226, 226);
    box-shadow: 2px 2px black;
}

/* Footer
   ========================================================================== */


#footer{
    height: 50vh;
    background: #272833;
    justify-content: space-around;
}

#footer i{
    height: 2vh;
}

#footer .icons{
    justify-content: space-around;
    width: 20%;
}

/* Banner
   ========================================================================== */


.banner::after{
    background: -moz-linear-gradient(top, rgba(23, 24, 32, 0.75), rgba(23, 24, 32, 0.75));
    background: -webkit-linear-gradient(top, rgba(23, 24, 32, 0.75), rgba(23, 24, 32, 0.75));
    background: -ms-linear-gradient(top, rgba(23, 24, 32, 0.75), rgba(23, 24, 32, 0.75));
    background: linear-gradient(top, rgba(23, 24, 32, 0.75), rgba(23, 24, 32, 0.75));
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: absolute;
    height: 100%;
    content: '';
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
}

header, img, a, li, p, span, pre, input, button, h1, h2, h3, small, i, #section1, #two, #three, #four{
    position: relative;
}


