.row{
    flex-direction: row;
}

.column{
    flex-direction: column;
}

.flex{
    display: flex;
}

.alignItems{
    align-items: center;
}

.justifyContent{
    justify-content: center;
}

html{
    font-size: 62.5%;
}

body{
    font-family: 'Source Sans Pro', Arial, sans-serif;
}

a{
    color: black;
    text-decoration: none;
}

a:hover{
    color: white;
}

.button{
    padding: 1rem 2rem;
    border: 2px solid black;
    background: none;
    border-radius: 5px;
}

.button:hover{
    cursor: pointer;
    background-color: rgb(247, 242, 242);
}

.button:active{
    background-color: rgb(240, 226, 226);
    box-shadow: 2px 2px black;
}

li{
    padding: 1rem;
    list-style-type: none;
}

a, li, p, span, pre, input, button, small, i{
    font-size: 2rem;
    line-height: 3.5rem;
}


.logo{
    font-size: 2rem;
}

h1{
    width: 100%;
    font-size: 5rem;
}

h2{
    font-size: 4rem;
}

small{
    font-size: 1rem;
}

nav h2, nav ul{
    padding: 1rem 2rem;
}

nav{
    justify-content: space-between;
    align-items: flex-start;
}

nav{
    width: 100%;
}

