.team img{
    width: 100%;
    margin: 2rem;
}

.selected{
   border: 1px solid red;
}

.box{
    margin: 3rem;
    width: 10%;
}

.team{
    margin: 2rem;
    width: 20%;
}

form{
padding: 2rem;
}

#submit{
    margin: 2rem;
}